html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: url(/img/mario-bg.png) no-repeat;
  background-position: bottom center;
  background-color: #95e8f3;
  min-height: 100%;
}
form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}
